body, p, h1, ul {
  margin: 0;
  box-sizing: border-box;
}

ul {
  padding :0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: open-sans-b;
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype"),
       url("../fonts/OpenSans-Bold.woff") format("woff"),
       url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: open-sans-r;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"),
       url("../fonts/OpenSans-Regular.woff") format("woff"),
       url("../fonts/OpenSans-Regular.woff2") format("woff2");

  font-weight: 400;
  font-style: normal;
}

body {
  font-family: open-sans-r, open-sans-b;
  font-size: 15px;
  max-width: 1660px;
  margin-left: auto;
  margin-right: auto;
}


/*-- POPUP --*/
._hidden {
  display: none;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 20px;
  background: grey;
  border-radius: 10px;

  color: white;
}
.popup-state {
  display: none;
}

.popup-state:checked + .popup {
  display: flex;
}

.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.popup-content{
  position: relative;
  background: #fff;
  width: 330px;
  height: 481px;
  padding: 47px 30px;
  z-index: 2;
  font-size: 13px;
}

.popup-close {
  position: absolute;
  right: -3px;
  top: -29px;
  width: 23px;
  height: 23px;
  cursor: pointer;
 
  padding: 3px 0 3px 1px;
  text-align: center;
  box-sizing: border-box;
  color: #fff;
  line-height: 0.5;

  font-size: 38px;
}

.popap-title {
  font-family: open-sans-r, sans-serif;
  font-weight: 400;
  margin-top: 3px;
}

.subject-popup {
  text-transform: uppercase;
  position: relative;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 0;
  font-family: open-sans-b, sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.2;
}

.subject-trend:before {
  position: absolute;
  content: "";
  height: 3px;
  width: 66px;
  background: #e1d9bd;
  bottom: -14px;
  left: 50%;
  transform: translatex(-50%);
}

.visit {
  appearance: none;
  width: 100%;
  padding: 12px 19px;
  background: #f3f7f5;  
  color: #787a79;
  border: none;
  margin-top: 11px;

  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 95% center;
  cursor: pointer;
}

.visit:hover {
  border: 1px solid #b59f5b;
}

.visit:focus {
  border: 1px solid #b59f5b;
}

/*-- mailing --*/
 .wrp-mailing{
  margin-top: 34px ;
 }

.input-group-text {
  display: inline-block;
}

.radio-group-text::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 4px;
  vertical-align: middle;

  background-image: url(../SVG/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}

.radio-input:checked + .radio-group-text::before {
  background-image: url("../SVG/form-circle.svg");
}

.radio-input{
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

/*bottom*/
.button-popup {
  border: none;
  margin: 0;
  height: 48px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
  background: #b59f5b;
  cursor: pointer;
  margin-top: 18px;
  font-family: open-sans-b, sans-serif;
  font-weight: 400;
  font-size: 15px;

}

.button-popup:hover {
  background-color: #323232;
}

.button-popup::before {
  content: "Отправить";
  color: #ffffff;
  text-transform: uppercase; 
}
/*--textarea--*/
 
 .wrp-textarea {
  margin-top: 20px;
  display: block;
 }

.textarea-input {
  width: 100%;
  height: 125px;
  resize: none;
  padding: 15px;
  color: #787a79;
  background-color: #f3f7f5;
  border: none;
  margin-top: 12px;
  font-size: 13px;
  font-family: open-sans-r, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
 }

/*-- header --*/

.header {
  background-image: url("../images/banner-bg.jpg");
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 30px 0px 125px 0px;
  max-width: 1660px;
  position: relative;
  z-index: 0;
  min-height: 290px;
  margin-bottom: 56px;
}

.header::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.header-wrapper {
  max-width: 1170px;
  margin: auto;
}

.logo-link, .menu { 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-burger {
  display: none;
}


.logo-link {
  width: 182px;
  height: auto;
}

.menu-list {
  color: #ffffff;
  display: flex;
  text-transform: uppercase;
  font-size: 13px;
  gap: 34px; 
}

.menu-list-item:hover {
  text-decoration: underline;
}


h1, .title-one {
  margin-top: 105px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-family: open-sans-b, sans-serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 1.66;
  max-width: 720px;
}

/*--trend--*/

.trend-content {
  margin-top: 64px;
  max-width: 1660px;
  margin: auto;
}


.subject-trend {
  text-transform: uppercase;
  position: relative;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 0;
  font-family: open-sans-b, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;

}

.subject-trend:before {
  position: absolute;
  content: "";
  height: 3px;
  width: 66px;
  background: #e1d9bd;
  bottom: -14px;
  left: 50%;
  transform: translatex(-50%);
}

.wrp {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  margin-top: 41px;
}

.wrp-trend {
  min-height: 320px;
  display: flex;
  align-items: end;
  box-sizing: border-box;
  padding: 0 22px 16px 18px;
}


.trend-first{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/trend1.jpg');
  background-size: cover;
}


.trend-second{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/trend2.jpg");
  background-size: cover;

}

.trend-third{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/trend3.jpg");
  background-size: cover;
}

.trend-fourth{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/trend4.jpg");
  background-size: cover;
}

.wrp-sabject-text {
  border: 3px solid #6f6238;
  line-height: 1.2;
  padding: 39px 31px 11px 35px;
  margin-top: 20px;
}

.trend {
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  margin: 7px 0 24px 0;
  letter-spacing: 1.5px;
}

.trend:hover {
  color: #b59f5b;
}
/* --main-- */

.main {
  margin-top: 5px;
  margin-right: 15px;
}

.content {
  padding-top: 59px;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 64px;
}

.article {
  display: flex;
  max-width: 778px;
  padding-left: 15px;
  box-sizing: border-box;
}

.article:nth-child(n+2) {
  padding-top: 56px;
}

.img-news {
  max-height: 380px;
}

.news-post {
/*  position: reletive;*/
}

.post {
  margin-left: 31px;
  margin-top: -2px;
/*  position: absolute;*/
  width: 367px;
  left: 0;
}

.teg {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.teg-link:hover {
  text-decoration: underline;
}

.teg-item {
  font-size: 14px;
  text-transform: uppercase;
  color: #b59f5b;
  font-family: open-sans-b, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-right: 20px;
}

.title-link{
  text-transform: uppercase;
  font-family: open-sans-b, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
}

.title-link:hover {
  color: #b59f5b;
}

.meta {
  display: flex;
  font-size: 12px;
  align-items: center;
  margin-top: 29px;
}

.time {
  color: #888888;
  font-size: 12px;
  font-family: open-sans-r, sans-serif;
  font-weight: 400;
  font-style: normal;
/*   display: block; */
}

.address { 
  font-style: normal;
  font-family: open-sans-b, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 13px;
}

.text {
  margin-top: 60px;
  font-family: open-sans-r;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-post {
  margin-top: -15px;
  margin-bottom: 24px;
}

/* --aside --*/

.content {
  display: flex;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
}

.aside {
  width: 271px;
  margin-right: 12px;
  position: relative;
}

.subject {
  text-transform: uppercase;
  position: relative;
  text-align: center;
  font-family: open-sans-b, sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 0;
}

.subject:before {
  position: absolute;
  content: "";
  height: 3px;
  width: 66px;
  background: #e1d9bd;
  bottom: -14px;
  left: 50%;
  transform: translatex(-50%);
}

.article-wrp {
margin-top: 34px;
}

.title-new-post {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.28;
  font-family: open-sans-b, sans-serif;
  font-weight: 400;
  margin-top: 4px;
}

.title_new_post_link:hover {
  color: #b59f5b;
}

.article-sidebar {
  display: flex;
  margin-bottom: 10px;
}

.img-news-aside {
  width: 70px;
  margin-top: 6px;
}

.new-post{
  padding-left: 16px;
}

/* --поиск-- */


.form-email {
  margin-top: 35px;
  display: block;
}

.field {
  -webkit-appearance: none;
  -mozz-appearance: none;
  box-sizing: border-box;
  width: 100%;
  height: 49px;
  border: none;
  padding-left: 15px;
  background: #f4f7f6;
  color: #919292;
  display: inline-block; 
}

.lable-search {
  width: 100%;
  display: flex;
  margin-top: 54px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} 

.bottom {
  border: none;
  margin: 0;
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
  background: #b59f5b;
  cursor: pointer;
  flex-shrink: 0;
}

.bottom:hover {
  background-color: #323232;
}

.bottom::before {
  content: url("../svg/search.svg");
  display: inline-block;
  width: 17px;
  height: 17px;
  color: #ffffff;
}

.section-title {
  margin-top: 57px;
}

.field:hover {
  border: 1px solid #b59f5b;
}

.field-email {
  -webkit-appearance: none;
  -mozz-appearance: none;
  box-sizing: border-box;
  width: 100%;
  height: 49px;
  border: none;
  padding-left: 15px;
  background: #f4f7f6;
  color: #919292;
}

.field-email:hover {
  border: 1px solid #b59f5b;
}

.button-email {
  border: none;
  margin: 0;
  height: 48px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
  background: #b59f5b;
  cursor: pointer;
  margin-top: 18px;
  font-family: open-sans-b, sans-serif;
  font-weight: 400;
  font-size: 15px;

}

.button-email:hover {
  background-color: #323232;
}

.button-email::before {
  content: "Подписаться";
  color: #ffffff;
  text-transform: uppercase; 
}

.tegs-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 36px;
}

.tags__wrap_link {
    display: block;
    border: 3px solid #eeeeee;
    padding: 4px 17px 3px 11px;
    margin-right: 5px;
    margin-bottom: 6px;
    text-transform: uppercase;
    font-family: open-sans-b, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #0f0d0e;
    letter-spacing: 0.5px;
}

.tags__wrap_link:hover {
  border: 3px solid #b59f5b;
}

/* --TOPIC-- */


.topic__wrap {
  margin-top: 30px;
}

.topic__item {
  position: relative;
  font-family: open-sans-b, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  display: flex;
  padding-bottom: 28px;
  align-items: center;
  position: relative;
}

.topic__item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    top: 30px;
    background-color: #eeeeee;
}

.topic__item_link:hover {
  font-size: 14px;
  color: #b59f5b;
}

.topic__item_holder {
  position: relative;
  top: 0;
  font-size: 12px;
  color: #b59f5b;
  margin-top: -8px;
  margin-left: 5px;
}

/* --STORE-- */
.store {
  max-width: 1170px;
  margin: auto;
}

.inner-store {
 display: flex;
 gap: 69px;
 justify-content: center;
 width: 100%;
 margin-bottom: 64px;
}

.product {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.img-store {
  max-width: 300px;
  padding-left: 19px;
}

.wrp-product {
  width: 300px;
  margin-top: -37px;
  flex-grow: 1;
  outline: 3px solid #c2b78d;
  padding: 49px 20px 20px 20px;
}

.link-product {
  margin-bottom: 4px;
}

.link-content-shop {
  color: #b59f5b;
}

.link-content-shop:hover {
  text-decoration: underline;
}

.wrp-product-store {
  display: flex;
  justify-content: space-between;
}

.product-info {
  display: flex;
  justify-content: space-between;
}

.price {
  margin-top: 26px;
  font-family: open-sans-b, sans-serif;
  font-weight: 400;
}

.old-prise {
  font-size: 14px;
  text-decoration: line-through;
}

.old-prise:after {
  content: ' \20BD';
}

.new-prise {
  font-size: 20px;
}

.new-prise:after {
  content: ' \20BD';
}

.button-store {
  border: none;
  margin: 0;
  height: 48px;
  width: 140px;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
  background: #b59f5b;
  cursor: pointer;
  margin-top: 27px;
  font-family: open-sans-b, sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.button-store:hover {
  background-color: #323232;
}

.button-store::before {
  content: "В магазин";
  color: #ffffff;
  text-transform: uppercase; 
}

/* --FOOTER-- */


.container{
  max-width: 1170px;
  margin: auto;
}

.footer-wrap {
  display: flex;
  justify-content: center;
  padding: 36px 0;
  background-color: #f4f7f6;
}

.footer-link {
    width: 23px;
    height: 23px;
    display: block;
    background-position: center center;
    background-size: cover;
}

.footer-item {
    margin-right: 25px;
}

.footer-item:last-child {
    margin-right: 0;
}

.footer-copirate {
  margin-top: 70px;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  color: #999999;
  padding-bottom: 41px;
}

.tw {
    background-image: url("../svg/003-tumblr.svg");
}

.pin {
    background-image: url("../svg/002-pinterest.svg");
}

.ball {
  background-image: url("../svg/001-dribbble.svg");
}

/*--------tablet--------*/

@media (max-width: 1199px) {

  .header {
  background-image: url("../images/banner-bg-tablet.jpg");
  }

  .header-wrapper {
    margin: 0 35px;
  }
  
  .menu-list{
    display: none;
  }

  .menu-burger {
    display: block;
    position: relative;
    width: 23px;
    height: 19px;
    border: none;
    cursor: pointer;
    background: transparent;
  }

  .menu-burger:before, .menu-burger:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    background-color: #fff;
  }
  
  .menu-burger:after {
    bottom: 0;
  }

  .menu-burger-label {
    position: absolute;
    top: 4px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
  }

/*-- main/aside --*/

  .wrp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: repeat(2, 1fr);
    gap: 4px;
    background-size: cover;
  }

  .article {
    display: block;

  }

  .content {
    justify-content: space-around;
  }

  .post {
    margin-top: 16px;
    margin-left: 0;
  }

  /*-- store -- */

  .wrp-store {
    margin: 0 34px;
  }

  .inner-store {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }

}

@media (min-width: 900px) {
  
  .inner-store {
    justify-content: space-around;
  }
}

@media (min-width: 640px) and (max-width: 770px) {
  .inner-store {
    justify-content: center
  }
}

@media (max-width: 640px) {
  .header {
    background-image: url("../images/banner-mobile.jpg");
    min-height: 639px;
    box-sizing: border-box;
  }

  .header-wrapper {
    max-width: 640px;
    padding: 15px;
    margin: 0;
  }

  .menu {
    position: relative;
    justify-content: center;
  }

  .logo-link {
    padding-top: 120px;
    width: 270px;
  }

  h1, .title-one {
    font-size: 26px;
    margin-top: 44px;
    line-height: 1.4;
  }
  
  .menu-burger {
    position: absolute;
    right: 0;
    top: 0;
  }

/*--trend--*/

  .wrp {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
  }

  .wrp-trend {
    min-height: 231px;
    width: 100%;
  }

  .trend{
    font-size: 16px;
  }
/*--main/aside--*/
  
  .content {
    flex-wrap: wrap;
    width: 330px;
    padding-top: 43px;
  }
  
  .main {
    width: 330px;
    justify-content: center;
  }

  .title-link {
    font-size: 16px;
  }

  .post {
    width: 330px;
  }

  .text-post {
    font-size: 14px;
  }

  .img-news {
    max-height: 252px;
  }

  .article {
    padding: 0;
    border-bottom: 3px solid #eeeeee;
  }

  .aside {
    margin-top: 44px;
    width: 330px;
  }
  .tags__wrap_link {
    font-size: 11px;
    padding-right: 15px;
  }

/* store */

  .wrp-store {
    margin: 0 15px;
  }

  .inner-store {
    justify-content: center;

  }

  .product {
    padding: 0;
  }
}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
  .wrp {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-height: 640px) and (orientation: landscape) {
  .wrp {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: repeat(2, 1fr);
  }
}